@mixin column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin alignedRow($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: baseline;
}