@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Light Mode Colors
$veryLightGray: #fafafa;
$darkGray: #858585;
$contrastedGray: #BFBFBF33;
$veryDarkBlueText: #111517;

// Dark Mode Colors
$darkBlue: #2b3945;
$veryDarkBlueBg: #202c37;

// Shared Modes Colors
$white: #ffffff;

// Fonts
$fontSizeMain: 14px;
$fontSizeSecondary: 16px;
$fontFamily: "Nunito Sans", sans-serif;